/** Styles for IE7 **/

/* I can hasLayout */
#content,
#content-bar,
h2.lead,
#content-sub .author .vcard,
.post-list .post,
.post-list .thumb,
.demo .entry-title,
#content-main,
#content-sub,
#content-head {
  zoom: 1;
}

/* IE has problems with the span, so hide it and style the link */
h2.lead a { color: #a40106; }
h2.lead a:hover, h2.lead a:focus, h2.lead a:active { color: #a40106; text-decoration: underline; }
h2.lead span { position: absolute; left: -999em; }

/* IE doesn't always switch cursors when hovering the positioned image, so declare explicitly */
.post-list a:hover .thumb { cursor: pointer; }

.page-title { margin-bottom: .75em; }
