/* =Reset defaults */
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table { margin: 0 0 1.4em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
ul, ol { list-style: none; }
a img { border: 0; }
input, select, textarea, button { font-family: inherit; font-size: 100%; }

html .mceContentBody { color: #333; font: 14px/1.6 Helvetica, "Helvetica Neue", Arial, sans-serif; width: 500px; margin: 20px; }

/*** =Links */
.mceContentBody a:link,
.mceContentBody a:visited { color: #a40106; text-decoration: none; }
.mceContentBody a:hover,
.mceContentBody a:focus,
.mceContentBody a:active,{ color: #a40106; text-decoration: underline; }

/*** =Headings */
h1 { clear: both; font-size: 2.4em; line-height: 1.2; margin-top: .4em; color: #000; }
h2 { font-size: 1.5em; line-height: 1.2; color: #000; }
h3 { font-size: 1.25em; line-height: 1.2; color: #000; }
h4 { font-size: 1em; line-height: 1.2; text-transform: uppercase; letter-spacing: .1em; color: #000; }
h5, h6 { font-size: 1.1em; }

ul { margin: 0 0 1.4em 20px; list-style: disc; }
ol { margin: 0 0 1.4em 20px; list-style: decimal; }
li { margin-bottom: .25em; }
li ul, li ol { margin: 0 0 0 15px; }
blockquote { padding: 0 15px 0 25px; border-left: 5px solid #e5e5e5; }
dt { font-style: italic; }
dd { padding-left: 15px; }
table { border-collapse: collapse; border: solid #d4d1c3; border-width: 1px 1px 0; }
table caption { font-size: 1em; }
th, td { border-bottom: 1px solid #d4d1c3; padding: 0 4px; }
thead th { font-size: 90%; text-align: left; font-weight: normal; }
tbody th { text-align: left; }
code { font-size: 90%; color: #614644; }

/** =Images *********/
.mceContentBody a img { border: 5px solid #e5e5e5; }
.mceContentBody a:hover img, .mceContentBody a:focus img, .mceContentBody a:active img { border-color: #fac817; }
.mceContentBody img { max-width: 100%; }

.mceContentBody .alignleft { float: left; margin: 0 1em 10px 0; }
.mceContentBody .alignright { float: right; margin: 0 0 10px 1em; }
.mceContentBody .aligncenter { display: block; margin: 0 auto 1.5em; }

.mceContentBody a img.alignleft, .mceContentBody a img.aligncenter { position: relative; left: -5px; }
.mceContentBody a img.alignright { position: relative; right: -5px; }

.mceContentBody .wp-caption.aligncenter { width: auto; padding: 0; border: 0; background: transparent; }
.mceContentBody .wp-caption img { display: block; margin: 0 auto 5px; max-width: 100%; }
.mceContentBody .wp-caption.aligncenter img { margin: 0 auto 5px; }
.mceContentBody .wp-caption-text { margin: .25em 5px; font-size: .9em; font-style: italic; }
